.form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 0 0 / 0.3);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.form-modal__window {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  padding: 28px;
  border: 1px solid rgba(0 0 0 / 0.3);
  backdrop-filter: blur(4px);
}

.form-modal__title {
  margin: 0 0 24px;
  font-size: 16px;
}

.form-modal__close-btn {
  position: absolute;
  top: 22px;
  right: 30px;
  background: url("/src/assets/close.svg") no-repeat center/16px 16px;
  opacity: 0.6;
  border: 0;
  padding: 2px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form-modal__label_type_error {
  color: #ff4d00;
}

.form-modal__input {
  margin: 8px 0 24px;
  border: 0;
  border-bottom: 1px solid #000;
  width: 440px;
  padding: 4px 0;
  display: block;
}

.form-modal__input_type_error {
  color: #ff4d00;
  border-color: #ff4d00;
}

.form-modal__fieldset {
  padding: 0;
  border: 0;
}

.form-modal__radio-legend {
  margin-bottom: 12px;
}

.form-modal__radio-container {
  margin-bottom: 8px;
}

.form-modal__radio-container:last-of-type {
  margin: 0; /* regardless, it's collapsed */
}

.form-modal__radio-btn {
  accent-color: #000;
}

.form-modal__radio-label {
  color: rgba(0 0 0 / 0.5);
  padding-left: 8px;
}

.form-modal__radio-btn:checked + .form-modal__radio-label {
  color: #000; /* the label and radio are separated for the reason of highlighting the selected option per the design */
}

.form-modal__submit-btn {
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  font-weight: inherit;
  line-height: inherit;
  margin: 32px 0 8px;
  display: block;
}

.form-modal__submit-btn_active {
  background-color: #000;
  transition: background-color ease 0.6s;
  cursor: pointer;
}

.form-modal__submit-btn_active:hover {
  background-color: rgba(0 0 0 / 0.6);
}

.form-modal__submit-btn_inactive {
  background-color: rgba(0 0 0 / 0.3);
}

@media screen and (max-width: 749px) {
  .form-modal {
    align-items: end;
  }

  .form-modal__window {
    padding: 32px 16px;
    flex-basis: 440px; /* with inputs' width at 100%, the window will always shrink when possible; this inverts the behavior of shrinking and grows up to this size, then shrink last */
  }

  .form-modal__title {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 37px;
  }

  .form-modal__close-btn {
    top: 20px;
    right: 20px;
    background-size: 100%;
    opacity: 1;
  }

  .form-modal__input {
    width: 100%;
  }

  .form-modal__submit-btn {
    margin: 31px 0;
    width: 100%;
    padding: 12px 0;
  }
}
