.toggle-switch {
  position: relative;
  cursor: pointer;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center; /*only needed for the 'floating' checkbox since the option elems are taking the entire width */
  align-items: center;
}

.toggle-switch:hover {
  border-color: #000;
  color: #000;
}

.toggle-switch:hover .toggle-switch__button {
  left: 0;
}

.toggle-switch:hover .toggle-switch__checkbox:checked + .toggle-switch__button {
  left: 100%;
}

.toggle-switch__checkbox {
  /* display: none; wouldn't make the element tabbable w/out simulated kbd events */
  opacity: 0;
  position: absolute;
}

.toggle-switch__checkbox:checked + .toggle-switch__button {
  left: calc(100% + 2px);
  transform: translateX(-100%);
}

.toggle-switch__button {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
  transition: 0.25s;
}

.toggle-switch__option {
  width: 50%;
  text-align: center;
  z-index: 1;
  font-size: 14px;
  line-height: 1.25;
  transition: color 0.25s;
}

.toggle-switch__option_active {
  color: #fff;
}
