.toggle-switch {
  position: relative;
  cursor: pointer;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  /* justify-content: space-between; unnecessary with 2 elems taking 50% space each */
  align-items: center;
}

.toggle-switch:hover {
  border-color: #000;
  color: #000;
}

.toggle-switch:hover .toggle-switch__button {
  left: 0;
}

.toggle-switch:hover .toggle-switch__checkbox:checked + .toggle-switch__button {
  left: 100%;
}

.toggle-switch__checkbox {
  display: none;
}

.toggle-switch__checkbox:checked + .toggle-switch__button {
  left: calc(100% + 2px);
  transform: translateX(-100%);
}

.toggle-switch__button {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
  transition: 0.2s;
}

.toggle-switch__option {
  width: 50%;
  text-align: center;
  z-index: 2;
  font-size: 14px;
  line-height: 1.25;
}

.toggle-switch__option_active {
  color: #fff;
}
