.card {
  /* width: 325px; delegated to grid layout */
  /* height: 328px; @Main.css */
  border: 1px solid rgba(0 0 0 / 0.3);
  border-radius: 20px;
  background-color: #e9e9e9;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; /* center header-name tags even when absolutely positioned*/
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__header {
  position: absolute;
  top: 15px;
  /* left: 0; must be unset for auto width to work */
  width: calc(100% - 15px * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card__name {
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0 0 0 / 0.6);
  padding: 2px 12px;
  border-radius: 4px;
  background-color: #fff;
  /* cursor: initial; the whole card is clickable anyway */
}

@media screen and (max-width: 669px) {
  .card {
    /* height: 162px; Delegated to grid layout @Main.css */
  }

  .card__header {
    top: 7px;
    width: calc(100% - 7px * 2);
  }
}
