.weather-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 12px;
  color: #fff;
  font-size: 36px;
  line-height: 1.1;
  padding-left: 16px;
  box-sizing: border-box;
  background: no-repeat right/cover;
}

.weather-card_type_clear-day {
  background-image: url("/src/assets/weather/clear-day.svg");
}

.weather-card_type_clear-night {
  background-image: url("/src/assets/weather/clear-night.svg");
}

.weather-card_type_cloudy-day {
  background-image: url("/src/assets/weather/cloudy-day.svg");
}

.weather-card_type_cloudy-night {
  background-image: url("/src/assets/weather/cloudy-night.svg");
}

.weather-card_type_rain-day {
  background-image: url("/src/assets/weather/rain-day.svg");
}

.weather-card_type_rain-night {
  background-image: url("/src/assets/weather/rain-night.svg");
}

.weather-card_type_storm-day {
  background-image: url("/src/assets/weather/storm-day.svg");
}

.weather-card_type_storm-night {
  background-image: url("/src/assets/weather/storm-night.svg");
}

.weather-card_type_snow-day {
  background-image: url("/src/assets/weather/snow-day.svg");
}

.weather-card_type_snow-night {
  background-image: url("/src/assets/weather/snow-night.svg");
}

.weather-card_type_fog-day {
  background-image: url("/src/assets/weather/fog-day.svg");
}

.weather-card_type_fog-night {
  background-image: url("/src/assets/weather/fog-night.svg");
}
