.page {
  background-color: #f3f3f3; /* affect entire page instead of leaving sidebars - more so for the body tag */
}

.page__content {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1440px;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  line-height: 1.2;
}
