.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 32px 40px 0;
}

.header__preamble-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__time-and-place {
  margin: 0;
}

.header__menu-btn {
  background: url("../../assets/menu.svg") no-repeat center/28px 12px, #fff;
  box-shadow: 0 2px 8px rgba(0 0 0 / 0.1);
  box-sizing: border-box; /* appears to be default */
  width: 44px;
  height: 44px;
  padding: 0; /* border-box + bg-size render this moot */
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: none; /* invisible in desktop */
  align-self: start;
}

.header__menu-close-btn {
  display: none;
}

.header__user-container {
  align-items: center;
  display: flex;
  gap: 20px;
  /* normally the menu wouldn't disappear in the mobile view unless closed via React, as in the desktop view the CSS media queries would "disguise" as though it's always visible */
}

.header__add-clothes-btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px; /* relatively easy for use in mobile layout */
}

.header__user a {
  /* react Link creates an unclassed a tag */
  color: inherit;
  text-decoration: none;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid rgba(0 0 0 / 0.5);
  box-sizing: border-box;
}

.header__avatar_image {
  background: url(/src/assets/avatar_image.png) no-repeat center/cover;
}

.header__avatar_text {
  background-color: rgba(0 0 0 / 0.2);
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 749px) {
  .header {
    padding: 16px;
    font-size: 16px;
  }

  .header__preamble-container {
    /* flex-direction: column; */
    align-items: center;
    gap: 12px;
  }

  .header__preamble-container a {
    /* Link creates unclassed a tag */
    height: 44px; /* prevent collapsing when menu is opened */
  }

  .header__logo {
    padding: 2px 0;
  }

  .header__user-container_desktop {
    display: none;
  }

  .header__user-container_mobile {
    display: flex;
    position: fixed;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    margin: 0 auto;
    flex-direction: column-reverse;
    gap: 24px;
    padding: 60px 0 40px;
    box-shadow: 0 2px 8px rgba(0 0 0 / 0.1);
    background-color: #fff;
    border-radius: 10px;
  }

  .header__menu-btn {
    display: block;
  }

  .header__menu-close-btn {
    display: block;
    background: url("../../assets/close.svg") no-repeat center/100%;
    width: 21px;
    height: 21px;
    padding: 0;
    border: 0;
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
  }
}
