.item-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 0 0 / 0.3);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.item-modal__window {
  display: flex;
  gap: 28px;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  padding: 20px;
  border: 1px solid rgba(0 0 0 / 0.3);
  overflow: hidden;
}

.item-modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("/src/assets/close.svg") no-repeat center/16px 16px;
  opacity: 0.6;
  border: 0;
  padding: 2px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.item-modal__card-container {
  position: relative;
  width: 325px;
  height: 328px;
  font-size: 16px;
}

.item-modal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.item-modal__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 0;
  left: 0;
}

.item-modal__name {
  color: rgba(0 0 0 / 0.6);
  padding: 2px 12px;
  border-radius: 4px;
  background-color: #fff;
  margin: 19px 0 0;
}

.item-modal__text-container {
  width: calc(670px - 325px - (20px * 2));
  height: 328px;
  font-size: 20px;
}

.item-modal__description {
  margin: 13px 0 0;
}

@media screen and (max-width: 749px) {
  .item-modal__window {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .item-modal__close-btn {
    top: 12px;
    right: 12px;
    background-size: 100%;
    opacity: 1;
    z-index: 1;
  }

  .item-modal__card-container {
    display: flex;
    flex-direction: column;
    width: 343px;
    height: unset; /* container originally has both image and name, but in mobile they're separate */
    font-size: 20px;
  }

  .item-modal__image {
    width: 343px;
    height: 343px;
    border-radius: 0;
  }

  .item-modal__header {
    position: static;
    justify-content: start;
  }

  .item-modal__name {
    padding: 0;
    margin: 20px 0 0 20px;
    color: #000;
    background-color: transparent;
    width: 100%;
    border-radius: 0;
  }

  .item-modal__text-container {
    width: 100%;
    height: 76px;
  }

  .item-modal__description {
    margin: 12px 0 0 20px;
  }
}
