.side-bar {
  flex-grow: 1; /* take up as much of the page, limited to clothes grid */
  flex-shrink: 0; /* when page shrinks, leave elements as they are */
  display: flex;
  align-items: center;
  gap: 16px;
}

.side-bar__avatar {
  width: 56px;
  aspect-ratio: 1 / 1;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.side-bar__avatar_image {
  background: url(/src/assets/avatar_image.png) no-repeat center/cover;
}

.side-bar__username {
  margin: 0;
}
