.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  padding: 85px 40px 24px;
}

.footer__copyright {
  margin: 0;
}
