.clothes {
  flex-basis: 1015px; /* while the sidebar takes as much space as it can, constrain the grid to accommodate 3 columns */
}

.clothes__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clothes__header-text {
  margin: 0;
  height: 56px;
  align-content: center;
}

.clothes__add-btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  color: rgba(0 0 0 / 0.6);
}

.clothes__grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-template-rows: 328px;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 669px) {
  .clothes {
    flex-basis: unset;
    width: 100%;
  }

  .clothes__header {
    justify-content: space-between;
  }

  .clothes__grid {
    grid-template-columns: repeat(auto-fit, 164px);
    grid-template-rows: 164px;
    gap: 16px 15px;
  }
}
